.header_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dbc6b2;
  height: 65px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}
.header_img {
  width: 30%;
  max-width: 260px;
  height: auto;
}
.search_bar {
  width: 40%;
}
