.header_div {
  /* position: fixed;
  top: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dbc6b2;
  width: auto;
  height: 65px;
  padding: 0;
}
.header_img {
  width: 30%;
  max-width: 260px;
  height: auto;
}
.search_bar {
  width: 40%;
}
